[buildout]
develop = .
parts = python test
versions = versions

[versions]
zc.recipe.testrunner = 1.2.0
zope.testing = 3.9.5

[python]
recipe = zc.recipe.egg
eggs = setuptools
interpreter = python
scripts = python

[test]
recipe = zc.recipe.testrunner
eggs = koansys.recipe.elasticsearch [test]
